/* CSS file for The Chonker
   by Casper de With (u/casperdewith)
   12 March 2022
*/

@font-face {
    font-family: "Piazzolla";
    src: url('Piazzolla-Medium.otf') format('opentype');
}

@font-face {
    font-family: "Piazzolla";
    src: url('Piazzolla-MediumItalic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "Piazzolla";
    src: url('Piazzolla-ExtraBold.otf') format('opentype');
    font-weight: bold;
}


body {
    font-family: "Piazzolla", "IBM Plex Serif", serif;
    line-height: 1.4;
    font-size: 150%;
    color: #068;
    background-color: #fff;
    margin: 1rem;
}

main {
    margin: 5rem auto;
    max-width: 40rem;
    min-width: 20rem;
}

p {
    margin-top: 0.25em;
    margin-bottom: 0;
}

strong {
    font-weight: bold;
}

.lingo {
    color: #013;
}

.example {
    font-style: italic;
}

a {
    text-underline-offset: 0.4em;
    text-decoration: none;
}

hr {
    border: 1px solid #ccc;
    margin: 2rem auto;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 1.2em;
}

table {
    border: none;
    margin: 1rem auto;
}

td {
    border: none;
    padding: 0.5rem;
}

.tilde {
    font-weight: bold;
    font-style: normal;
}

header p {
    font-size: 1.2em;
}

.sep {
    font-weight: 800;
    margin: 0 0.3em;
}

.term {
    margin-right: 0.5em;
}

a:hover {
    text-decoration: underline 1px solid currentColor;
}

a.ex {
    color: #086;
    font-style: italic;
}

a.in {

}

a.term {
    font-weight: bold;
}
