/* CSS file for The Chonker
   by Casper de With (u/casperdewith)
   12 March 2022
*/

@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,500;0,800;1,500&display=swap');

@font-face {
    font-family: "Piazzolla but only two arrows";
    src: url('Piazzolla-Medium.otf') format('opentype');
    unicode-range: U+2192, U+2197; /* because Google Fonts does not include arrows; mad scuffed */
}

body {
    font-family: "Piazzolla", "Piazzolla but only two arrows", "IBM Plex Serif", serif;
    font-weight: 500;
    font-size: 125%;
    line-height: 1.4;
    margin: 1rem;
    color: #068;
    background-color: #fff;

}

main {
    margin: 5rem auto;
    max-width: 40rem;
    min-width: 20rem;
}

p {
    margin-top: 0.7em;
    margin-bottom: 0;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 2rem auto;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
    margin: 2rem auto;
    line-height: 1;
}

header p, h2 {
    font-size: 1.2em;
}

table {
    border: none;
    margin: 1rem auto;
}

td {
    border: none;
    padding: 0.5rem;
}

.term, .tilde, .sep, strong {
    font-weight: 800;
}

.lingo {
    color: #013;
}

.example {
    font-style: italic;
}

.tilde {
    font-style: normal;
}

.sep {
    margin: 0 0.3em;
}

.term {
    margin-right: 0.3em;
}

a {
    text-underline-offset: 0.3em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1px solid currentColor;
}

a.term:hover {
    text-decoration: underline 2px solid currentColor;
}

a.ex {
    color: #086;
    font-style: italic;
}

a.in {
    /* bubkes */
}

